SECRET_KEY=sua-chave-secreta-aqui
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Caminho da planilha Excel (Windows)
EXCEL_FILE_PATH=C:/Users/danielcoelho/Desktop/Pasta/CONTROLE DE PAGAMENTO 2025.xlsm
EXCEL_WATCH_DIR=C:/Users/danielcoelho/Desktop/Pasta
